<!DOCTYPE html>
<html>

<head>
    <title>Create a new Game"</title>
</head>

<body>
    <h1>Create a new Game</h1>

    <form action="/createGame" method="post">

        <label for="titulo"> Title: </label>
        <input type="text" id="titulo" name="Titulo"><br>

        <label for="ano"> Year: </label>
        <input type="text" id="ano" name="Ano"><br>

        <label for="genero"> Genre: </label>
        <input type="text" id="genero" name="Genero"><br>

        <label for="gamelist"> Gamelist: </label>
        <input type="text" id="gamelist" name="Gamelist"><br>

        <input type="submit" value="Create">
    </form>
</body>
</html>